# Sqlite Sql

ComeÃ§ando por carregar o sql no notebook

In [2]:
#!pip install ipython-sql
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [3]:
%sql sqlite:///contatos.db

In [4]:
%%sql

CREATE TABLE CLIENTES (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///contatos.db
Done.

[]

In [5]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///contatos.db
4 rows affected.

[]

In [11]:
%%sql

SELECT * FROM CLIENTES

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]

In [12]:
%%sql

SELECT * FROM CLIENTES WHERE EMAIL = "leonardo@gmail.com"

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999')]

In [18]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES ('Leonardo' , 'leo@gmail.com', '1199-991199' );

 * sqlite:///contatos.db
1 rows affected.

[]

In [23]:
%%sql

SELECT * FROM CLIENTES WHERE NOME = "Leonardo" AND EMAIL = 'leo@gmail.com'

 * sqlite:///contatos.db
Done.

[(5, 'Leonardo', 'leo@gmail.com', '1199-991199')]

In [26]:
%%sql

SELECT * FROM CLIENTES ORDER BY NOME

 * sqlite:///contatos.db
Done.

[(2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (5, 'Leonardo', 'leo@gmail.com', '1199-991199'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]

In [30]:
%%sql

SELECT DISTINCT NOME FROM CLIENTES;

 * sqlite:///contatos.db
Done.

[('Leonardo',), ('Rafael',), ('Michelangelo',), ('Donatello',)]

In [32]:
%%sql
SELECT COUNT(*) FROM clientes;

 * sqlite:///contatos.db
Done.

[(5,)]

In [33]:
%%sql

UPDATE clientes
SET nome = 'Leonardo X'
WHERE EMAIL = 'leo@gmail.com';

 * sqlite:///contatos.db
1 rows affected.

[]

In [36]:
%%sql
select * from clientes;

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779'),
 (5, 'Leonardo X', 'leo@gmail.com', '1199-991199')]

In [37]:
%%sql

DELETE FROM clientes WHERE nome = 'Leonardo X';

 * sqlite:///contatos.db
1 rows affected.

[]

In [42]:
%%sql
select * from clientes;

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779'),
 (5, 'Leonardo', 'leo@gmail.com', '1999-9999')]

In [41]:
%%sql

INSERT INTO clientes (nome, email, telefone) 
VALUES ('Leonardo', 'leo@gmail.com', '1999-9999')

 * sqlite:///contatos.db
1 rows affected.

[]